.questionnaire-description {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    margin: 0;
}

.questionnaire-description .apm-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionnaire-task-description {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 300;
}

.info-button{
    position: absolute;
    text-transform: lowercase;
    top: 1vh;
    left: 3.6rem;
    border-radius: 50px;
    background-color: #336666;
    box-shadow: none;
    width: 2vh;
    height: 2.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.info-button:hover{
    background-color: #669999;
}
.task-number-questionnaire {
    background-color: #336666;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    margin-right: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    font-family: monospace;
    color: #f8f8f8;
}

.questionnaire-heading {
    display: inline-block;
}

.task-heading {
    display: flex;
    align-items: center;
}

.sv_main {
    margin: 0 auto;
    height: inherit;

}

.sv_main .sv_body {
    font-size: 1.1rem;
    background-color: white;
    border-top: none;
}

.sv_complete_btn {
    width: 100px;
    height: 50px;
    align-items: flex-start;
    text-align: center;
}
#sq_101{
    display:flex;
    justify-content: center;
}
#sq_101 img {
    width:38vmin;
}
#sq_104{
    display:flex;
    justify-content: center;
}
#sq_104 img {
    width:38vmin;
}
#sq_107{
    display:flex;
    justify-content: center;
}
#sq_107 img {
    width:38vmin;
}
#sq_110{
    display:flex;
    justify-content: center;
}
#sq_110 img {
    width:38vmin;
}
#sq_113{
    display:flex;
    justify-content: center;
}
#sq_113 img {
    width:38vmin;
}
#sq_116{
    display:flex;
    justify-content: center;
}
#sq_116 img {
    width:38vmin;
}
#sq_119{
    display:flex;
    justify-content: center;
}
#sq_119 img {
    width:38vmin;
}
#sq_122{
    display:flex;
    justify-content: center;
}
#sq_122 img {
    width:38vmin;
}
#sq_125{
    display:flex;
    justify-content: center;
}
#sq_125 img {
    width:38vmin;
}
#sq_128{
    display:flex;
    justify-content: center;
}
#sq_128 img {
    width:38vmin;
}
#sq_131{
    display:flex;
    justify-content: center;
}
#sq_131 img {
    width:38vmin;
}
#sq_134{
    display:flex;
    justify-content: center;
}
#sq_134 img {
    width:38vmin;
}
.sv_main input[type="button"],
.sv_main_btn {
    font-size: 25px;
    font-weight: 400;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid #336666;
    background-color: transparent;
    padding: 0;
}

.sv_main input[type="button"]:hover,
.sv_main_btn {
    border: 1px solid #336666;
    background-color:#336666;
}
.sv_main.sv_default_css input[type="button"], .sv_default_css button{
    background-color:#336666;
}
.sv_p_root{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 79%;
}
.sv_row{
    height:auto;
}
.sv_container{
    height:inherit;
}
.sv_main .sv_container .sv_body{
    height: inherit;
}
.sv_main form{
    height:inherit;
}
.sv_main .sv_container .sv_body .sv_nav{
    height: 7vh;
    min-height: 60px;
    padding:0;
    position: absolute;
    width: 100%;
    right: 3%;
    bottom:15vh
}
.sv_main .sv_q_imgsel.checked label > div{
    background-color: #336666;
}
.sv_main input[type="button"]:hover, .sv_main_btn{
    /*background-color: #719190;*/
    color: white;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_imgsel label > div > img{
    height: 13vmin;
    margin: auto;
    width: 15vmin;
}
