/* Styling New Words Task */

.char {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  display: inline-block;
  font-size: 30px;
  height: 45px;
  width: 45px;
  background-color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.char-used {
  background: lightgrey;
  transition: 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.newWords-task-description span {
  font-weight: 500;
}

.container-newWords {
  width: 80vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.input-btn-container input[type="text"] {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 300;
  height: 60px;
  border: 0;
  width: 400px;
  margin-left: 1px;
  margin-bottom: 15px;
  box-shadow: 0px 1px 0px 0px darkgrey;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  background-color: transparent;
}
.input-btn-container input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 2px 0px 0px blue;
}

.addBtn {
  height: 36px;
  width: 36px;
  position: absolute;
  top: 50%;
  right: 150px;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid blue;
  background-color: rgba(255, 255, 255, 0.5);
  transition: transform 0.1s ease-in-out;
}

.addBtn:hover {
  transform: scale(1.1);
}

.add-btn {
  height: 36px;
  width: 36px;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid blue;
  background-color: transparent;
  transition: transform 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.add-btn:hover {
  transform: scale(1.1);
}

.add-btn svg {
  width: 24px;
  height: 24px;

  fill: blue;
  margin: 0 0 0 -2px;
}

.input-btn-container {
  display: flex;
  align-items: center;
}

.next-btn {
  width: 190px;
  height: 70px;
  float: right;
  margin-top: 200px;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #f55000;
  color: #f55000;
  background-color: transparent;
}

.next-btn:hover {
  color: white;
  background-color: #f55000;
}

.next-btn:disabled {
  border: 1px solid rgb(159, 159, 159);
  color: rgb(159, 159, 159);
  pointer-events: none;
}

.newWords-description {
  width: auto;
  margin: 2rem auto 3rem auto;
  display: flex;
  justify-content: center;
}

.newWords-description .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.newWords-task-description {
  margin: 0 0 2rem 0;
  font-family: "Rubik", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
}

.newWords {
  width: 80vw;
  height: 90vh;
  margin: 0 auto;
}

.task-number-newWords {
  background-color: #f55000;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  margin-right: 1rem;
  font-size: 2rem;
  line-height: 2rem;
  font-family: monospace;
  color: #f8f8f8;
}

.newWords-heading {
  display: inline-block;
  font-family: "Asul", sans-serif;
}

.task-heading {
  display: flex;
  align-items: center;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  16.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

.shake-anim {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-name: headShake;
}
