.questionnaire-description {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13vh;
}

.questionnaire-description .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questionnaire-task-description {
  margin: 0 0 2rem 0;
  font-size: 1.1rem;
  font-weight: 300;
}

.task-number-questionnaire {
  background-color: #336666;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  margin-right: 1rem;
  font-size: 2rem;
  line-height: 2rem;
  font-family: monospace;
  color: #f8f8f8;
}

.questionnaire-heading {
  display: inline-block;
}

.task-heading {
  display: flex;
  align-items: center;
}

.sv_main {
  margin: 0 auto;

}

.sv_main .sv_body {
  background-color: white;
  border-top: none;
}

.sv_complete_btn {
  margin-top: 30px;
  width: 100px;
  height: 50px;
  align-items: flex-start;
  text-align: center;
}

.sv_main input[type="button"],
.sv_main_btn {
  font-size: 25px;
  font-weight: 400;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #336666;
  background-color: transparent;
  padding: 0;
}

.sv_main input[type="button"]:hover,
.sv_main_btn {
  border: 1px solid #336666;
  color: #336666;
  background-color:#336666;
}
.sv_main.sv_default_css input[type="button"], .sv_default_css button{
  background-color:#336666;
}
.sv_p_root{
  overflow: scroll;
  height: 71vh;
}
.sv_main .sv_container .sv_body .sv_nav{
  height: 7vh;
  min-height: 60px;
}
.sv_main .sv_q_imgsel.checked label > div{
  background-color: #336666;
}
